a {
    cursor: pointer;
}
a.active {
    color: #EF5D5D;
}

#help {
    margin-top: 5px; margin-bottom: 5px;
}

.bullet {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin-bottom: -2px;
}
.bullet-green {
   background-color: #95CE5E;
}
.bullet-blue {
   background-color: #00D8FF;
}

#content {
    padding-top: 25px;
}

.container {
    padding-top: 5px;
}
.level {
    float: left;
    width: 300px;
    text-align: center;
    height: 80px;
    border-bottom: 1px solid #333;
    font-size: 24px;
    background-color: #D0D0D0;
    position: relative;
}
.level.open {
    background-color: #95CE5E !important;
}
.level.current {
    background-color: #00D8FF;
}
.clear {
    clear:both;
}
.outer-block {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;
    position: absolute; left: -25px;
}
.inner-block {
    height: 40px;
    line-height: 34px;
}

.inner-block a:hover {
    background-color: #ff6600;
    color: white;
}
.inner-block a {
    font-size: 16px;
    line-height: 12px;
    margin-right: 2px;
    background-color: white;
    border-radius: 1px;
	padding-left: 6px;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-right: 6px;
}
.inner-block a:hover {
    text-decoration: none;
}
