a {
    cursor: pointer;
}
a.active {
    color: #EF5D5D;
}
.container {
    padding-top: 5px;
}
.level {
    float: left;
    width: 100px;
    text-align: center;
    height: 100px;
    line-height: 100px;
    font-size: 48px;
    background-color: #D0D0D0;
    position: relative;
}
.level.current {
    background-color: #00D8FF;
}
.clear {
    clear:both;
    height: 5px;
    margin-top: 5px;
}
.outer-block {
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 20px;
    padding-left: 20px;
    float: left;
}
.inner-block {
    margin-top: 2px;
    position: absolute;
    top: 0px;
    left: 0px;
    width: 20px;
}
.inner-block a {
    font-size: 16px;
    line-height: 16px;
    display: block;
}


